<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{{.Title}} // {{.Site.Params.Bio}}</title>

<meta name="description" content="{{.Site.Params.Author}} // {{.Site.Params.Bio}}">
<meta name="author" content="{{.Site.Params.Author}}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">
<link rel="shortcut icon" href="../../assets/ico/favicon.ico">