{{ define "main" }}

<div class="content" id="resume">
    <h2>Objective, Full Stack Software Engineer</h2>
    <section id="objective">
        <p>
            A well versed senior software engineer capable of transforming business requirements into technology solutions. Detail oriented
            about security, quality, best practices, scalability, maintainability, and usability.
        </p>
        <p>
            Qualities: Strong leadership, problem solving, communication, teamwork, and independent learning skills.
        </p>
    </section>
    <section id="skills-list">
        <h3>Technical Skills Summary</h3>
        <dl>
            <dt>Languages:</dt>
            <dd>Java, Swift, Objective C, JavaScript, C#, Python, SQL, C, C++, PHP</dd>
            
            <dt>Databases:</dt>
            <dd>PostgreSQL, MySQL / MariaDB, MongoDB, Microsoft SQL Server, Redis</dd>
            
            <dt>Operating Systems:</dt>
            <dd>macOS, Linux (Manjaro, Debian, CentOS), Windows</dd>
            
            <dt>IDE Software:</dt>
            <dd>Xcode, Android Studio, IntelliJ</dd>
            
            <dt>Version Control:</dt>
            <dd>Git, Subversion SVN, Team Foundation Server</dd>

            <dt>Virtualization</dt>
            <dd>VirtualBox, Parallels, VMware</dd>
            
            <dt>Libraries Frameworks:</dt>
            <dd>Vue.js, AngularJS, Express, Restify, ASP.NET</dd>
            
            <dt>Web and Proxy Servers:</dt>
            <dd>Nginx, Apache, Microsoft IIS</dd>
            
            <dt>System Administration</dt>
            <dd>SSH, DNS, IPTables</dd>
            
            <dt>Automation:</dt>
            <dd>Jenkins, Jenkins Pipelines, Gulp, Grunt, Shell Scripting, Terraform, Packer</dd>
            
            <dt>Cloud Providers:</dt>
            <dd>AWS, Digital Ocean, Linode</dd>

            <dt>Containerization:</dt>
            <dd>​Docker, Kubernetes</dd>
            
            <dt>Concepts:</dt>
            <dd>
                continuous integration, database normalization, database object relational model, nosql schema design, agile development, networking topology design, software design patterns, object oriented programming, automation, architecture, scrum, agile
            </dd>
        </dl>
    </section>
    <section id="experience">
        <h3>Professional Experience</h3>
        <div class="job">
            <h4>Mindex Technologies @ Paychex -- Rochester, NY</h4>
            <h5>Senior Software Engineer, May 2019 to Present</h5>
        </div>

        <div class="job">
            <h4>Harris Corporation -- Rochester, NY</h4>
            
            <h5>
                Software Engineer 5​, January 2019 to May 2019<br>
                Software Engineer 4​, June 2018 to January 2019<br>
                Software Engineer 3​, April 2016 to June 2018
            </h5>
            <ul>
                <li>Spearheaded modern continuous integration and deployment pipelines using Jenkins, Terraform, and Kubernetes for my department. Presented this knowledge to the rest of the organization.</li>
                <li>Automated the creation of IBM ClearQuest records for BeOn PTT application builds using Perl.</li>
                <li>Maintained Jenkins builds for BeOn PTT iOS mobile application.</li>
                <li>Lead software engineer for BeOn PTT for iOS. Added new features such as PushKit to wake app up, alert
                tone controls, and various maintenance to the application Storyboard.</li>
                <li>Contributed new features written in Java including group emergency and imminent peril for the Mission
                Crtical Push to Talk server team. Had to read specs on 3GPP standards in addition to RFC’s for SIP, RTP
                and RTCP protocols.</li>
                <li>Made many contributions to the BeOn PTT Android application source code.</li>
                <li>Debugged customer issues using tools such as Wireshark.</li>
                <li>Made recommendations for UI/UX automation such as Appium to the BeOn PTT test team.</li>
                <li>Educated testers and other software engineers on various aspects of the system and how the BeOn application works.</li>
            </ul>
        </div>

        <div class="job">
            <h4>Mindex Technologies @ Xerox -- Rochester, NY</h4>
            <h5>Mobile Software Engineer, November 2013 to April 2016</h5>
            <ul>
                <li>Overhauled Xerox Print Portal to use modern Apple iOS standards: storyboards, Swift, NSURLSession, auto layout,
                    and frameworks.</li>
                <li>Maintained Jenkins builds for Xerox Print Portal using shell scripting.</li>
                <li>Spearheaded mobile device management solutions by integrating Good Dynamics in a special version of Xerox
                    Print Portal for the App Store.</li>
                <li>Created IPP framework in Swift based on a Java version for the Android platform.</li>
                <li>Introduced CocoaPods package management to Xerox for mobile application dependency management.</li>
                <li>Created new features based on RESTful APIs in versions of Xerox Mobile Print.</li>
                <li>Educated Xerox co-workers on git version control and why we should use distributed version control instead
                    of centralized version control for projects.</li>
                <li>Documented processes needed to integrate with Mobile Device Management solutions and Xerox frameworks.</li>
            </ul>
        </div>

        <div class="job">
            <h4>StormFrog, Inc. -- Victor, NY</h4>
            <h5>Mobile Software Engineer & Lead Web Engineer, October 2012 to November 2013</h5>
            <ul>
                <li>Directed team of software engineers building HTML5 frontend projects for Paychex.</li>
                <li>Created proxy server middleware in Node.js that kept team authenticated to the Paychex server APIs. This
                    application increased team productivity.</li>
                <li>Improved performance of the Wegmans PhoneGap application through analysis &amp; refactoring.</li>
                <li>Led team to build HTML5 Realtor dashboard for iVEDiX using provided RESTful APIs.</li>
                <li>Produced a native iOS gaming platform and three games for PlayVS using Cocos2D framework.</li>
            </ul>
        </div>

        <div class="job">
            <h4>Martino Flynn, LLC --Pittsford, NY</h4>
            <h5>Digital Developer, January 2008 to October 2012</h5>
            <ul>
                <li>Designed database backends for web site projects.</li>
                <li>Created and maintained a company Intranet.</li>
                <li>Improved team processes by introducing version control for projects and educated co workers.</li>
                <li>Spearheaded mobile application development by building an iPad enterprise application sales tool for Given
                    Imaging sales reps (Animations, Dropbox Integration and More).</li>
                <li>Produced web sites for clients using PHP, JavaScript, HTML, CSS based on Photoshop designs.</li>
                <li>Created web applications that used RESTful services: Google Maps, Dropbox, and internal APIs.</li>
                <li>Maintained and secured Linux web hosting on virtual private servers for agency and their clients.</li>
                <li>Presented and educated agency employees on mobile applications and how they can help our clients.</li>
                <li>Created TV touchscreen battlefield application for Harris RF Communications in Flash.</li>
            </ul>
        </div>

        <div class="job">
            <h4>Freelance -- Rochester, NY</h4>
            <h5>Information Technology Professional, August 2003 to Present</h5>
            <ul>
                <li>Spearheaded Fitmotivation by building a new web site that allowed customers to sign up and watch Fitness
                    videos.</li>
                <li>Created APIs in Node.js, administrative section, API integration with 3rd party services Vimeo and Stripe,
                    and an AngularJS frontend for Fitmotivation.</li>
                <li>Designed NoSQL database for Fitmotivation organization to achieve goals and scale for future growth.</li>
                <li>Maintained and secured web hosting, DNS, and email for clients in virtual private servers on Amazon AWS,
                    Digital Ocean, and Linode.</li>
                <li>Created many websites, mobile applications, and administrative backends over the last decade.</li>
            </ul>
        </div>
        <div class="job">
            <h4>Maplewood YMCA -- Rochester, NY</h4>
            <h5>Lifeguard, Swim Instructor, Head Lifeguard, Lifeguard Instructor, August 2002 - Present</h5>
        </div>
    </section>

    <section id="education">
        <h3>Education</h3>
        <p>
            Pennsylvania College of Technology (Penn State) -- Williamsport, PA
            <br> BS in Information Technology (Networking Emphasis)
            <br> Graduation: December 2007 -- Cum Laude (GPA 3.5)
        </p>
    </section>

    <section id="certification">
        <h3>Certification and Awards</h3>
        <ul>
            <li>Harris Corporation, 2018 Leadership Award for BeOnPTT Android Client</li>
            <li>CompTIA Network+ (N10-003), July 20, 2007</li>
            <li><strong>Eagle Scout</strong>, Boy Scouts of America</li>
        </ul>
    </section>
</div>

{{ end }}