{{ define "main" }}
<div class="splash">
    <p>
        <strong>Hello, I'm Mike.</p></strong>
    </p>
    <p>
        I'm a full stack software engineer, programmer, technology enthusiast, swimmer, kayaker, and hiker from Rochester, NY. Currently I work full time as a Full Stack Software Engineer IV at
        <a href="https://www.harris.com/" target="_blank">Harris Corporation</a>.
    </p>
    <p>
        Software design and system architecture are important to me.  I love solving difficult problems utilizing todays fast evolving technology. People tell me I have an endless appetite to learn. Bottom line is I love what I do and a lot of what I know is self taught.
        I am always looking to get my feet wet learning something new and learning how to do it correctly and efficiently.
    </p>
    <p>
        Additionally I am an avid Steelers fan and am often seen waving my terrible towel cheering on the black and gold.
    </p>
    <p>
        If you would like to get in touch with me,
        <a href="mailto:michaelruschak@gmail.com">email</a> is best.
    </p>
    
    <div class="splash-banner">
        <img src="https://ruschak.nyc3.digitaloceanspaces.com/pemaquid-mike.jpg" class="img-fluid">
    </div>

    <div class="splash-banner">
        <img src="https://ruschak.nyc3.digitaloceanspaces.com/portsmouth-mike.jpg" class="img-fluid">
    </div>
    
</div>
{{ end }}